body {
        background-color: #E5E4CC;
    }

h1 {
    color:#698474;
}
h3 {
    color:#889E81;
}
hr {
        background-color: white;
        border-style: dotted none none;
        height: 0px;
        border-color: grey;
        border-width: 5px;
        width: 5%;
    }